SECRET_KEY=insert_secret_key

POSTGRES_SERVER=db_postgres
POSTGRES_USER=postgres
POSTGRES_PORT=5432
POSTGRES_PASSWORD=insert_password
POSTGRES_DB=shop_db
POSTGRES_INITDB_ARGS=--auth-host=scram-sha-256
POSTGRES_HOST_AUTH_METHOD=scram-sha-256

DJANGO_SETTINGS_MODULE=backend.settings.prod
DJANGO_SUPERUSER_USERNAME=insert_superuser_username
DJANGO_SUPERUSER_PASSWORD=insert_superuser_password

RABBITMQ_DEFAULT_USER=insert_rabbitmq_user
RABBITMQ_DEFAULT_PASS=insert_rabbitmq_password

CELERY_BROKER_URL=amqp://rabbitmq_user:rabbitmq_password@rabbitmq:5672
CELERY_RESULT_BACKEND=celery_amqp_backend.AMQPBackend://rabbitmq_user:rabbitmq_password@rabbitmq:5672

REDIS_URL=redis://redis:6379

EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=insert_your_password

STRIPE_PUBLISHABLE_KEY=pk_test_insert_key
STRIPE_API_KEY=sk_test_insert_key
STRIPE_WEBHOOK_SECRET=whsec_insert_webhook_secret
STRIPE_DEVICE_NAME=insert_device_name

DEBUG=False