{% load static %}
<!DOCTYPE html>
<html>
    <div class="general-wrapper">
        <head>
            <meta charset="utf-8" />
            <title>{% block title %}Weasleys' Wizard Wheezes{% endblock %}</title>
            <link href="{% static "css/base.css" %}" rel="stylesheet">
            <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        </head>
        <body>
            <div id="header">
                <a href="/" class="logo">
                    <img src="{% static 'img/www_logo.png' %}" height="80px" />
                    <p>Weasleys' Wizard Wheezes</p>
                </a>
            </div>
            <div id="subheader">
                <div class="cart">
                    <img src="{% static 'img/shopping-cart.png' %}" height="30px" />
                    <div class="cart-items">
                        {% with total_items=cart|length %}
                        {% if total_items > 0 %}
                            Your cart:
                            <a href="{% url "cart:cart_detail" %}">
                                {{ total_items }} item{{ total_items|pluralize }},
                                £{{ cart.get_total_price }}
                            </a>
                        {% elif not order %}
                            Your cart is empty.
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </body>

        <footer>
            <p>© 2024 Weasleys' Wizard Wheezes</p>
            <p>93 Diagon Alley, London, United Kingdom</p>
        </footer>
    </div>
</html>